.banner-search form {
    place-self: right;
    padding: 0;
    position: relative;
    width: 12rem;
}
.banner-search input {
    width: 10rem;
    height: 1.5rem;
    font-size: 1rem;
    padding: 0 1rem;
    
    background: white;
    border: 2px solid #324b4e;
    border-radius: 2rem;
    outline: none;

    transition: .3s linear;
}
.banner-search button {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0;
    border: none;

    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
    outline: none;

    background-color: transparent;
    background-image: url("/icons/root.banner.search.png");
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-position: center;
}
